[Adblock Plus 1.1]
! Title: EasyPrivacy
! Last modified: %timestamp%
! Expires: 4 days (update frequency)
! Homepage: https://easylist.to/
! Licence: https://easylist.to/pages/licence.html
!
! Please report any unblocked tracking or problems
! in the forums (https://forums.lanik.us/)
! or via e-mail (easylist.subscription@gmail.com).
!
!-----------------General tracking systems-----------------!
{% include "easyprivacy/easyprivacy_general.txt" %}
!-----------------Third-party tracking domains-----------------!
{% include "easyprivacy/easyprivacy_trackingservers.txt" %}
!-----------------International third-party tracking domains-----------------!
{% include "easyprivacy/easyprivacy_trackingservers_international.txt" %}
!-----------------Third-party tracking services-----------------!
{% include "easyprivacy/easyprivacy_thirdparty.txt" %}
!-----------------International third-party tracking services-----------------!
{% include "easyprivacy/easyprivacy_thirdparty_international.txt" %}
!-----------------Individual tracking systems-----------------!
{% include "easyprivacy/easyprivacy_specific.txt" %}
!-----------------International individual tracking systems-----------------!
{% include "easyprivacy/easyprivacy_specific_international.txt" %}
!-----------------------Whitelists to fix broken sites------------------------!
{% include "easyprivacy/easyprivacy_whitelist.txt" %}
!----------------Whitelists to fix broken international sites-----------------!
{% include "easyprivacy/easyprivacy_whitelist_international.txt" %}
