[Adblock Plus 2.0]
! Title: Fanboy's Cookie List
! Last modified: %timestamp%
! Expires: 4 days (update frequency)
! License: http://creativecommons.org/licenses/by/3.0/
! Please report any unblocked content or problems by email or in our forums
! Email: easylist.subscription@gmail.com
! Homepage: https://easylist.to/
! Forums: https://forums.lanik.us/
!
!--------------------------General blocking rules-----------------------------!
%include easylist:fanboy-addon/fanboy_cookie_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:fanboy-addon/fanboy_cookie_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_cookie_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:fanboy-addon/fanboy_cookie_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:fanboy-addon/fanboy_cookie_specific_hide.txt%
!------------------------Rules for international sites------------------------!
%include easylist:fanboy-addon/fanboy_cookie_international_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_cookie_international_specific_block.txt%
!---------------------------------Whitelists----------------------------------!
%include easylist:fanboy-addon/fanboy_cookie_whitelist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_cookie_whitelist.txt%
