[Adblock Plus 2.0]
! Title: Fanboy's Annoyance List
! Last modified: %timestamp%
! Expires: 4 days (update frequency)
%include easylist:template_header.txt%
!--------------------------General blocking rules-----------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_general_block.txt%
%include easylist:fanboy-addon/fanboy_notifications_general_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_general_block.txt%
%include easylist:fanboy-addon/fanboy_social_general_block.txt%
%include easylist:easylist_cookie/easylist_cookie_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_general_hide.txt%
%include easylist:fanboy-addon/fanboy_notifications_general_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_general_hide.txt%
%include easylist:fanboy-addon/fanboy_social_general_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_notifications_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_newsletter_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_social_thirdparty.txt%
%include easylist:fanboy-addon/fanboy_sounds_thirdparty.txt%
%include easylist:easylist_cookie/easylist_cookie_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_specific_block.txt%
%include easylist:fanboy-addon/fanboy_notifications_specific_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_block.txt%
%include easylist:fanboy-addon/fanboy_social_specific_block.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_notifications_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_specific_ABP.txt%
%include easylist:fanboy-addon/fanboy_social_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_specific_ABP.txt%
!------------------------Rules for international sites------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_international.txt%
%include easylist:fanboy-addon/fanboy_social_international.txt%
%include easylist:fanboy-addon/fanboy_newsletter_international_block.txt%
%include easylist:fanboy-addon/fanboy_newsletter_international_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_international_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_international_specific_block.txt%
!---------------------------------Allowlists----------------------------------!
%include easylist:fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_notifications_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_social_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_newsletter_allowlist.txt%
%include easylist:fanboy-addon/fanboy_newsletter_allowlist_general_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_allowlist_general_hide.txt%
%include easylist:fanboy-addon/fanboy_annoyance_allowlist.txt%
%include easylist:fanboy-addon/fanboy_notifications_allowlist.txt%
%include easylist:easylist_cookie/easylist_cookie_allowlist.txt%
%include easylist:fanboy-addon/fanboy_social_allowlist.txt%
