[Adblock Plus 2.0]
! Title: Easylist Cookie List
! Last modified: %timestamp%
! Expires: 7 days (update frequency)
! License: http://creativecommons.org/licenses/by/3.0/
! Please report any unblocked content or problems by email or in our forums
! Email: easylist@protonmail.com
! Homepage: https://easylist.to/
! Forums: https://forums.lanik.us/
!
!--------------------------General blocking rules-----------------------------!
%include easylist:easylist_cookie/easylist_cookie_general_block.txt%
!------------------------General element hiding rules-------------------------!
%include easylist:easylist_cookie/easylist_cookie_general_hide.txt%
!-------------------------Third-party blocking rules--------------------------!
%include easylist:easylist_cookie/easylist_cookie_thirdparty.txt%
!--------------------------Specific blocking filters--------------------------!
%include easylist:easylist_cookie/easylist_cookie_specific_block.txt%
!------------------------Specific element hiding rules------------------------!
%include easylist:easylist_cookie/easylist_cookie_specific_hide.txt%
!------------------------Rules for international sites------------------------!
%include easylist:easylist_cookie/easylist_cookie_international_specific_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_international_specific_block.txt%
!---------------------------------Allowlists----------------------------------!
%include easylist:easylist_cookie/easylist_cookie_allowlist_general_hide.txt%
%include easylist:easylist_cookie/easylist_cookie_allowlist.txt%
