[Adblock Plus 2.0]
! Title: Fanboy's Anti-Sounds List
! Last modified: %timestamp%
! Expires: 9 days (update frequency)
! License: http://creativecommons.org/licenses/by/3.0/
! Please report any unblocked content or problems by email or in our forums
! Email: easylist@protonmail.com
! Homepage: https://easylist.to/
! Forums: https://forums.lanik.us/
!
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_sounds_thirdparty.txt%
