[Adblock Plus 2.0]
! Title: Fanboy's Social Blocking List
! Last modified: %timestamp%
! Expires: 4 days (update frequency)
! License: http://creativecommons.org/licenses/by/3.0/
! Please report any unblocked content or problems by email or in our forums
! Email: easylist.subscription@gmail.com
! Homepage: https://easylist.to/
! Forums: https://forums.lanik.us/
!
!--------------------------General blocking rules-----------------------------!
{% include "fanboy-addon/fanboy_social_general_block.txt" %}
!------------------------General element hiding rules-------------------------!
{% include "fanboy-addon/fanboy_social_general_hide.txt" %}
!-------------------------Third-party blocking rules--------------------------!
{% include "fanboy-addon/fanboy_social_thirdparty.txt" %}
!--------------------------Specific blocking filters--------------------------!
{% include "fanboy-addon/fanboy_social_specific_block.txt" %}
!------------------------Specific element hiding rules------------------------!
{% include "fanboy-addon/fanboy_social_specific_hide.txt" %}
!------------------------Rules for international sites------------------------!
{% include "fanboy-addon/fanboy_social_international.txt" %}
!---------------------------------Whitelists----------------------------------!
{% include "fanboy-addon/fanboy_social_whitelist_general_hide.txt" %}
{% include "fanboy-addon/fanboy_social_whitelist.txt" %}
