[Adblock Plus 2.0]
! Title: Fanboy's Anti-Sounds List
! Last modified: %timestamp%
! Expires: 4 days (update frequency)
%include easylist:template_header.txt%
!
!-------------------------Third-party blocking rules--------------------------!
%include easylist:fanboy-addon/fanboy_sounds_thirdparty.txt%
