.AdBox,
.ad-content,
#adLayer,
.ad-wrapper,
.header_ad,
/* general filters  */
*[id^="google_ads_"],
/* adult-list */
#IM_AD,
#im_popupDiv,
#im_box,
#imPopup,
#im_popupDiv,
#contener_pginfopop1,
#dhm-bar,
#AFF_popup,
#isliveContainer,
#floatyContent,
#PPX_imBox_Container,
#psmpopup,
.credited_ad,
.vidadtext,
#im_popupFixed,
a[href^="http://c.actiondesk.com/"],
a[href^="http://www.fleshlight.com/"],
/* askjolene.com */
.aj_lbanner_container,
/* adultizle18.com */
#kayan_reklam_sag,
#kayan_reklam_sol,
/* amateurpovtube.info */
#f5pop_div_1,
/* ashemaletube.com */
#ASHM_imBox_Container,
/* askjolene.com */
#ads_td,
/* burningcamel.com */
.reklaim,
/* cam4.com */
#Cam4IMslider,
.removeAds,
/* eporner.com */
#maindiv-topadv,
/* drtuber.com */
.bl_adv_right,
.p_adv,
/* fantasti.cc */
#TB_overlay,
#TB_window,
.ccad,
/* fapgames.com */
#the720x90-spot,
/* flabber.nl */
#leaderboard-bottom-nsfw,
#leaderboard-nsfw,
#rectangle-nsfw,
/* gotgayporn.com */
#index4x4ad,
/* liveleak.com */
#j_ad,
/* keezmovies.com */
#pgAdWrapper,
/* maxjizztube.com */
#adv_bootom,
#spotxt,
/* madthumbs.com */
.sponsored_text,
/* pornhub.com */
.nf-adbox,
/* realgfporn.com */
.adv-300,
.adv-300-1,
/* tnaflix.com */
.leftAbsoluteAdd,
.liveJasminHotModels,
.rightAbsoluteAdd,
/* wtfpeople.com */
.banner300x250,
/* xvideoslatino.com */
#publicidadlateral1,
#publicidadlateral2,
/* sankakucomplex.com */
.side300xmlc,
/* wunbuck.com */
.ad_row,
/* youporn.com */
#main-tj-ad,
#ft-ad-container,
#main-ad,
/* startpage.com */
#sponsored_container,
/* IE Fixes */
div[id="Ad Panel"],
div[class="ad top"],
/* ncaa.com */
.ncaaAdTag,
/* alexa.com */
A[href="/company/advertise"],
/* abcnews.go.com*/
#feature_adlinks,
.index-quigo,
div[class="story-embed-left box"],
/* accuweather.com */
#accuAdDiv,
/* addictinggames.com */
#game-info-ad,
/* aerzteblatt.de */
#bannerContainer,
/* al.com */
#Toprail_Leaderboard,
/* alternet.org */
.supercommentad_left,
.supercommentad_right,
/* amazon.com */
div[id$="_adcontent"],
/* answers.yahoo.com */
#yan-question-advert,
/* aol.co.uk */
.SLL,
/* aol.com */
#ai300x250,
#dmn_results,
#spAd,
.lft120x60,
/* arstechnica.com */
#da-draobredael,
#daehtsam-da,
#jobs-ars,
/* asia.wsj.com */
#whatsnews_top_ad,
#whatsnews_footer_ad,
.specialAdvertising,
.spl_shd_plus,
/* askmen.com */
.ad_info,
.adUnit,
/* astrology.com */
.b-astro-sponsored-links_vertical,
.b-astro-sponsored-links_horizontal,
/* au.yahoo.com */
#y708-windowshade,
/* bbc.co.uk */
#bbccom_mpu,
#bbccom_storyprintsponsorship,
/* bestbuy.com */
#dart-con,
/* biblegateway.com */
#a9g-leader-spacer,
#a9g-skyscraper,
#a9g-leader,
/* bitmob.com */
#advert,
/* bit-tech.net */
#broadband-finder-co-uk-120,
#mobile-phones-co-uk-120,
/* bostonherald.com */
#headerAd,
/* brasilportais.com.br */
#bp-superbanner-cont,
/* buddytv.com */
#btv_aja_rightAd,
/* btjunkie.org */
#topad,
/* businessinsider.com */
.sponsored-post,
/* caranddriver.com */
.shopping-tools.shop-on,
/* carsguide.com.au */
.CG_adkit_leaderboard,
/* cbc.ca */
.promogrp,
/* cbsnews.com */
#cbsSMPB,
/* cnbc.com */
#compAdvertisement,
.cnbc_banner_ad_area,
#fastmoney300x250,
#Homepage300x250,
/* christianpost.com */
.bannerTop,
.bannerBottom,
#bigBanner,
/* citytv.com */
#CityTv-HeaderBannerBorder,
.Video-Ad,
/* cnbc.com */
#USNewsBlogs300x250,
/* cnet.com */
#cnetToolbarWrap,
/* cnn.com */
.cnn_adtitle,
#cnnVPAd,
.cnn_grpnadclk,
.cnn_728adbin,
#cnn_cnn_adtag-3,
#moneySponsorBox,
#rbAdWrapperRt,
#rbAdWrapperTop,
.cnnStoryElementBox,
.cnn_adspc336cntr,
.cnn_strycntntrgt,
.cnn_adcntr728x90t,
.cnn_adcntr300x100,
.cnnWCAdBox,
.cnn_adcntr728x90,
.cnn_fabcatad,
/* concierge.com */
.adHeader,
/* celebuzz.com */
.cs_banner728_top,
/* dailyhaha.com */
#sponheader,
/* dailymotion.com */
.dmco_box.mc_leftcol,
/* darkreading.com */
#leaderboardAdArea,
/* demonoid.com */
#bnr3,
.pad9px_right,
/* detnews.com */
.bannerSpace.clearfix,
/* demonoid.me */
#bnrtcontainer,
#bnrrcontainer,
#torrentbanner,
#bannersquare,
/* deviantart.com */
#adso-magnifico,
.ad-blocking-makes-fella-confused,
.hidoframe,
.sleekadbubble,
#overhead-you-know-what,
iframe[id^="difipage"],
/* digitalspy.co.uk */
#adposition3,
/* dilbert.com */
.HPG_Ad_B,
.STR_AdBlock,
/* digg.com */
.img-summary.sponsored,
/* discovery.com */
#top-advertising,
/* divinecaroline.com */
#c_6ad_250h,
/* download.cnet.com */
.dh_vend,
.dh_vend_pad,
.dh_vend_last,
.dh_vend_top,
/* driverheaven.net */
#content_mpu,
/* ebaumsworld.com */
#mediumrect,
/* ecollegetimes.com */
#flan_leader,
/* economist.com */
#top_banner,
#classified_wrapper,
#bannerspace-bottom,
div[id="leaderboard"],
#footer-classifieds,
#subscription_slider.pop_up,
/* fastcompany.com */
#mod_imu,
/* facebook.com */
#home_sponsor_nile,
.UIWashFrame_SidebarAds,
.UIStandardFrame_SidebarAds,
.ego_spo,
.fbEmu,
.UIWashFrame_SidebarAds,
.fbEmuBlock,
.fbPhotoSnowboxAds,
.fbEmuEgoUnit,
.fbTimelineSideAds,
.fbEmuLink,
.fbPhotoAdsCol,
.fbEmuEgo,
/* forbes.com */
#colAd,
/* forums.somethingawful.com */
.adbot,
/* fosswire.com */
.medrec,
/* foxnews.com */
#console300x100,
.console_el,
/* foxbusiness.com */
#cb_medrect1_frame,
/* foodnetwork.co.uk */
#pre-header-banner,
/* frostwire */
#bg_YieldManager-160x600,
#bg_banner_728x90,
#bg_banner_468x60,
#bg_googlebanner_160x600LH,
/* g.doubleclick.net */
#aubg,
/* gfdata.de */
.m_banner_show,
/* gameplanet.co.nz */
.bAdv,
.sAdv,
.bAdvTO,
/* goldderby.com */
.advt-sec,
/* germany.real.com*/
#adwin_rec,
/* google */
div[id="rhs_block"],
#rhs_block,
#mbEnd,
#rhsa,
#tads,
#ps-top-ads-sponsored,
#np_content_ads_module,
.z0DeRc,
/* grooveshark.com */
#remove_capital_button,
/* newsinfo.inquirer.net */
.padtopbot5,
#bizlinq-box,
/* good.is */
.adbox,
/* greenbiz.com */
#navigation-ad,
/* groups.yahoo.com */
#ygrp-sponsored-links,
/* h-online.com */
#bannerzone,
/* health.yahoo.net */
#hl-sponsored-links,
/* heise.de */
.naviad,
.teaser_adliste,
/* history.com */
#adbanner,
/* hgtvpro.com */
.adTitle,
/* howstuffworks.com */
#MedRect,
#MedRectHome,
/* huffingtonpost.com */
.section.videoAd-wrapper,
/* idg.com.au */
#advisor_rhs_promobox,
/* imgur.com */
.advertisementContainer,
/* indiatimes.com */
.midadd,
/* indianapublicmedia.org */
.med-rect,
/* investopedia.com */
.sponsoredibbox,
/* investorwords.com */
#leaderboard_wrap,
/* itproportal.com */
.teaser.ibm,
/* joeuser.com */
.monsterad,
/* jpost.com */
.jp-advertisment-promotional,
.jp-sponserd-talkbacks,
/* joystiq.com */
#medrectrb,
/* justin.tv */
#DirectoryMedRectv2_holder,
/* katu.com */
#leader-sponsor,
/* king-mag.com */
#mediumrec,
/* lemonde.fr */
#talentsBlock,
/* linux.com */
#linux-header-sponsored,
/* linux-mag.com */
#banner-300x250-north,
#banner-336x280-north,
#banner-336x280-south,
/* macdailynews.com */
.podSponsoredLink,
/* mail.google.com */
.rh > #ra,
.u5 > DIV.oM,
.u9 + DIV.vb,
/* mail.live.com */
.SideAds,
#dapIfM1,
/* mail.yahoo.com */
#slot_LREC,
/* menshealth.com */
#mhheader_sublarge,
/* mediaite.com */
#magnify_widget_playlist_item_companion,
#magnify_widget_rect_content,
/* metronews.ca */
#pullquote_adu,
/* merriam-webster.com */
#google_creative_1,
/* metro.co.uk */
.google_modtr,
/* microsoft.com */
.cdAdTitle,
/* mnn.com */
.mnn-homepage-adv1-block,
.sponsor-title-image,
/* morningstar.com */
#embedAD,
.aadsection_b1,
.aadsection_b2,
.asection_a1,
/* msn.com */
#mlad,
/* msnbc.msn.com */
#ad-front-resourceguide,
#dcol-resourceguide,
div[class="w460 clr"],
#marketplace.nav-menu,
#Mainline1-sponsored,
#Sidebar2-sponsored,
/* music.yahoo.com */
#YMusicRegion_T2_R2C2,
#YMusicRegion_T3_R2C2_R1,
#YMusicRegion_TN1_R2C2_R1,
/* myfoxatlanta.com */
#expandedVert,
/* myspace.com */
#music_googlelinks,
#music_medrec,
#tkn_medrec,
/* myprops.org */
#ImageAdSideColumn,
/* nba.com */
.nbaTVPodAd,
.nbaAroundAd2,
/* newgrounds.com */
.box.adhead,
#pd-ads,
/* news24.com */
#sponsor_box,
/* newscientist.com */
.mpMPU,
/* newsweek.com */
.homepageFlexAdOuter,
/* gamersyde.com */
#gsyadrectangleload,
/* codeproject.com */
.lqm_ad,
/* newsonjapan.com */
#squarebanner300x250,
/* newsminer.com */
#hot_deals_banner,
#hot_deal_banner_newsminer,
#hot_deals_container,
#adPosition0,
/* ninemsn.com.au */
#spotlight_ad,
#top_promo_ie8,
/* newsweek.com */
#slug_bigbox,
/* news.yahoo.com */
#banner-ad,
/* nk.pl */
.nk_popup_body,
.nk_popup_overlay,
/* nydailynews.com */
#nydn_bar_top,
/* nytimes.com */
.cColumn-TextAdsBox,
#adxBigAd,
#adxBigAd2,
#adxLeaderboard,
#adxMiddle,
#adxMiddleRight,
#adxMiddle5,
#adxSponLink2,
#adxSponLinkA,
/* nzcity.co.nz */
.page_skyscraper,
/* nzherald.co.nz */
.adContainer,
.nzh-bigbanner,
/* omg.yahoo.com */
#omg-lrec,
/* online.barrons.com */
#barronsUber,
/* opensubtitles.org */
#scrubbuad_style,
/* orange.co.uk */
.GoogleAd,
/* pbs.org */
#corp-sponsor-sec,
/* palmbeachpost.com */
#cxnAdrail,
/* pcmag.com */
#special_offers_trio,
/* pcpro.co.uk */
#skyScrapper,
/* google.com */
#div[id^="tpa"].ch,
/* pcworld.com */
.adMkt2Colw,
.storyList.resourceCenter,
.storyList.whitePapers,
/* penny-arcade.com */
.funding-horizontal,
.promos-horizontal,
/* phenomenica.com */
.AdSense,
/* phoronix.com */
.phxcms_contentphx_right_bar,
/* polishlinux.org */
.oio-zone-position,
/* popcap.com */
#zrJungle1033_overlay,
#zrJungle1033_window,
/* pricespy.co.nz */
#banner250,
.banner_div,
/* realclearworld.com */
.right-wide-skyscraper,
/* reference.com */
#abvFold,
#bnrTop,
.bottomAd,
.spl_unshd,
#atlasAdDivGame,
#centerbanner_game,
/* refinery29.com */
.r29_box_ad,
/* rpgcodex.net */
#textAd,
/* seek.com.au */
.SeekerPromosLeft,
/* sfgate.com */
#adjacency,
/* slashdot.org */
#fad1,
.ad2,
/* slate.com */
#bizbox_flyout,
#bizbox_links_bottom,
#bizbox_links_right_rail,
/* lurkmore.ru */
a[href^="http://lurkmore.ru/adbl?"],
a[href^="http://lurkmore.ru/fkup?"],
/* sltrib.com */
.adElement,
/* smh.com.au */
#adSpotholder-EGN,
/* softonic.com */
#ad_related_links_div_program,
.pagehead_op2,
/* startribune.com */
#bottomLeaderboard,
#topLeaderboard,
/* take40.com */
#mpIslandHolder,
#mpLeaderboard,
/* techcrunch.com */
#post_unit_medrec,
/* technewsworld.com */
.content-block-slinks,
.content-tab-slinks,
/* technologyreview.com */
#tr35advert,
/* techrepublic.com.com */
.sponsBox.clear,
/* techradar.com */
.maskWhite.solidGrey.mpu,
/* theboot.com */
.medrect_aol,
/* thebostonchannel.com */
#adBelt,
/* theeagle.com */
.SectionRightRail300x600Box,
.TheEagleGoogleAdSense300x250,
/* theinquirer.net */
.advertisment_two,
/* theonion.com */
.sponsorship.side,
/* tripadvisor.com */
#COMMERCE_BOT,
#COMMERCE_REPEAT,
#COMMERCE_RHS,
#COMMERCE_TOP,
/* thepiratebay.org */
img[src="http://static.thepiratebay.org/img/agb.gif"],
/* thenextweb.com */
#fmpub_2620_1,
/* thepressnews.co.uk */
#want-to-advertise,
/* thestar.com */
.ts-banner_ad,
/* thestreet.com */
#textLinksContainer,
/* thisislondon.co.uk */
.adTag,
/* timesunion.com */
.leaderboard-tbl,
/* timeout.com */
.MD_textLinks01,
/* tomshardware.com */
.header.headerPub,
/* topbargains.com.au */
.subad,
/* totalfilm.com */
#mpu2_container,
#mpu_container,
#supersky_container,
/* trademe */
.HeadingAdSpace,
/* treehugger.com */
.floater-indiv,
/* tribe.net */
.OAS.Middle1,
/* tvnz.co.nz */
.advertisment,
.row.advertising,
/* urbandictionary.com */
#dfp_define_rectangle,
#dfp_skyscraper,
/* ugoplayer.com */
#content_right_side_advertisement_on_top_wrapper,
/* usmagazine.com */
#sub_form_popup,
/* usnews.com */
#loomia_display,
.promo.premierpartners,
/* v3.co.uk */
#skyAdNewsletter,
/* washingtonpost.com */
#adTiff,
DIV[id="textlinkWrapper"],
/* webpronews.com */
.wpn-business-resources,
/* whathifi.com */
.leaderBoardWrapper,
/* wibiyatoolbar */
#wibiyaToolbar,
/* wired.com */
.widget_WiredWidgetsGoogleAds,
.widget_WiredWidgetsDartAds,
/* xconomy.com */
.large_ad,
/* xe.com */
.XEad,
/* xxlmag.com */
#medium-rec,
/* yahoo.com */
#LREC,
#MREC,
#ybf-ads,
#YSLUG,
.ysmsponsor,
#ymh-invitational-recs,
#northbanner,
#darla-ad__LREC,
#darla-ad__LREC2,
.mod-ad-lrec,
.mod-ad-n,
.y708-ad-eyebrow,
.yls-sponlink,
#east.ads,
#mw-ysm-cm,
#yh-ysm,
.ygrp-ad,
.yfi-fp-ad-tl,
#yre-ad-n3rec-wrapper,
#yan-advert-north,
#yan-question-advert,
#ygmapromo,
#y708-ad-expedia,
#y708-ad-partners,
#y708-ad-ysm,
#y708-advertorial-competitions,
#y708-advertorial-marketplace,
#yahooPN_CM,
#yahoovideo_ysmlinks,
#yfi_pf_ad_mort,
#yfi_pf_ysm,
#yfi_ysm,
#yl_pf_ysm,
#yn-darla2,
.yad-cpa,
#yw-sponsoredad,
#yschsec,
#ylf-ysm,
.ads.horiz,
.y7-breakout-bracket,
.y708-commpartners,
.yl-lrec-wrap,
.yschspns,
div.lrec,
/* yahoo.com.au */
.boxMidRt.pB0,
.TL_genericads_columns,
.TL_medRec_container,
/* yelp.com */
.category-ad,
.add-result,
/* yourtv.com.au */
#preheader-ninemsn-container,
#msnmd_div,
/* vindy.com */
.v5rc_336x280ad,
/* youtube.com */
#search-pva,
#watch-channel-brand-div,
.searchView.list-view,
.yva-360-bg,
/* vkontakte.ru */
.ad_box_new,
.ad_help_link,
#ad_help_link_new,
#left_ads,
/* zam.com */
#cubeAd,
#aff_rightbar,
.zc-grid-ad,
/* zynga.com */
#cafe_snapi_zbar,
/* zdnet.com */
.ads_vtlList,
.macad,
.ad-vtu,
.dirListSuperSpons,
/* zdnet.com.au */
#mpu,
#promo-power-centre { display: none !important }