name: Lint Filter Lists

on:
  push:
    branches:
      - master
    paths:
      - "**/*.txt"
  pull_request:
    branches:
      - master
    paths:
      - "**/*.txt"

jobs:
  fop:
    name: Run FOP to check ordering
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Check out to repository
        uses: actions/checkout@v4
      - name: Install FOP
        run: npm install -g fop-cli
      - name: Run FOP
        run: fop --no-commit .
      - name: Check for changes
        run: |
          ! git diff --stat | grep -E "[A-Za-z0-9-]+\.txt"
        shell: bash

  aglint:
    name: Run AGLint
    runs-on: ubuntu-latest
    steps: 
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Check out to repository
        uses: actions/checkout@v4
      - name: Install npm dependencies
        run: npm i --verbose || (sleep 15 && npm i --verbose) || (sleep 30 && npm i --verbose)
        shell: bash
      - name: Run AGLint
        run: npm run aglint
        shell: bash
